td:not(:last-child) {
    border: 2px solid lightgray;
    padding: 2px;
    margin: 0px;
    text-align: center;
}
body{
    background-color: white;
    font-family: 'Poiret One', cursive;

}
tr:first-child{
    font-weight: bolder;
    font-size: 15px;
}
table{
    border-collapse: separate;
}
td.skyblue{
    border: 2px solid skyblue;
}
td:last-child > button{
    margin: auto;
}

tr{
    width: auto;
    height: 30px;
    max-height:50px;
    font-weight: 600;
    font-size: 13px;
}
div.confirm-delete{
    top:30%;
    left: 50%;
    margin-left: -151px;
    position: absolute;
    filter: drop-shadow(0 3mm 0.75rem black);
    width: 300px;
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
div.confirm-delete > p {
    margin: auto;
}
div.shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
tbody{
    perspective: 400px;
    transform-style: preserve-3d;
}
tr:not(:first-child):hover{
    box-shadow:0 0 3mm 0 black ;
}

i.fa-plus-square{
    font-size: 25px;
}
i.fa-edit{
    font-size: 18px;
}
i.fa-trash-alt{
    font-size: 18px;
}
i.fa-save{
    font-size: 18px;
}
i:hover{
    cursor: pointer;
    transform: scale(1.1);
}